.contents
  .sidebar
    .sidebar__header
      .sidebar__header__content
        .sidebar__header__content__user-name テスト太郎
        %ul.sidebar__header__content__buttons
          %li.sidebar__header_content__buttons__edit-user.fa-button
            %i.fa.fa-edit
          %li.sidebar__header_content__buttons__new-group.fa-button
            %i.fa.fa-cog
    .sidebar__content
      .groups
        .group
          %p.group__name グループ名
          %p.group__last-message こんにちは
  .main-content
    %header.main-content__header
      .main-content__header__group-info
        %h2.main-content__header__group-info__group-name グループ名
        %ul.main-content__header__group-info__member-list
          %li.main-content__header__group-info__members Members:
          %li.main-content__header__group-info__member-name テスト太郎
          %li.main-content__header__group-info__member-name テスト二郎
      .buttons
        .buttons__edit Edit
    .messages
      -# - @messages.each do |message|
      .message
        = render 'message'
      .message
        = render partial: 'message'
      .message
        = render partial: 'message'#, locals: {message: message}
      .message
        = render 'message'
      .message
        = render 'message'
      .message
        = render 'message'
      .message
        = render 'message'
      .message
        = render 'message'
      .message
        = render 'message'
      .message
        = render 'message'
      .message
        = render 'message'
      .message
        = render 'message'
    .main-content__form-container
      %form.main-content__form-container__message-form.message-form
        .message-form__input-container
          %input.message-form__input-container--input{:placeholder => "type a message"}
          .message-form__input-container--input__image
            %i.fa.fa-image
        %input.message-form__submit{type: "submit", value: "Send"}
